/* Font Family Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Global Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.networks{
  color: rgb(128, 128, 128);
}
.networks:hover{
  transform: translate(0, -2px);
  transition: 0.5s;
}
.linkdin:hover{
  color: #0a497b;
}
.yt:hover{
  color:darkred
}
.ig:hover{
  color: #A349A4;
}
.gh:hover{
  color: #fff;
}
.ghl:hover{
  color: #000;
}
a{
  text-decoration: none;
  color: black;
}
body {
  width: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
